<h1>{{ recipe.title }}</h1>
<p>{{ recipe.summary }}</p>

<div class="mb-2">
    {% include "layouts/tags.njk" %}
</div>

<div class="mb-1">Für {{recipe.personCount}} Personen in {{recipe.duration}} fertig</div>

<div class="grid">
    {% if recipe.images %}
        <div class="images">
            {% for image in recipe.images -%}
                <img src="../../img/{{ image.path }}">
            {% endfor -%}
        </div>
    {% endif %}
    <div class="mb-2 ingredients">
        {% include "layouts/ingredients.njk" %}
    </div>

    <div class="instructions">
        {% include "layouts/instructions.njk" %}
    </div>
</div>